@font-face {
	font-family: "Inconsolata-VariableFont_wdth";
	src: url("Inconsolata.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inconsolata-Bold";
	src: url("Inconsolata.ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SourceSerifPro-Black";
	src: url("SourceSerifPro-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SourceSerifPro-Light";
	src: url("SourceSerifPro-Light.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
