@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  width: 100%;
  height: calc(var(--window-height) - var(--header-height));
}

.body {
  width: 100%;
}


.footer_title {
  font-family: IBMPlexSansDevanagari-Medium;
  color: #161616;
  margin-top: 10rem;
  font-size: 2rem;
  line-height: 0rem;

  @include mixin.until(media.$sm) {
    margin-top: 36rem;
    font-size: 5rem;
    margin-left: -6rem;
    word-spacing: 1.5rem;
  }
}

.footer_text {
  font-family: IBMPlexSansDevanagari-Thin;
  color: #6F6F6F;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 3rem;

  @include mixin.until(media.$sm) {
    margin-top: 8rem;
    font-size: 3.5rem;
    line-height: 5rem;
    margin-left: -6rem;
  }
}

.wrapper {
  display: grid;

  width: 100%;
  padding: 0 0 6rem 0;
  margin: 0 auto;

  box-sizing: border-box;
  background-size: 100% auto;

  @include mixin.until(media.$sm) {

  }
}

.title {
  margin: 0;
}

.twitter:hover {
  fill: black;
}

.body1 {
  width: 100%;
  display: flex;

  @include mixin.until(media.$sm) {
    flex-direction: column-reverse;
  }
}

.body2 {
  width: 100%;
  display: flex;
  justify-content: left;
  text-align: left;
  flex-flow: wrap;
  margin: 0;

  @include mixin.until(media.$sm) {
    flex-direction: column;
  }
}

.bridge {
  width: 19rem;
  height: fit-content;
  margin-top: 9rem;
  margin-left: 12rem;

  @include mixin.until(media.$sm) {
    width: 60rem;
    margin-top: 6rem;
    margin-left: 10rem;
    object-fit: contain;
  }
}

.dance {
  width: 12rem;
  height: fit-content;
  margin-top: 10.2rem;
  margin-left: -6.4rem;
}

.win {
  width: 20.5rem;
  height: fit-content;
  margin-top: 2.2rem;
  margin-left: 18.5rem;

  @include mixin.until(media.$sm) {
    width: 50rem;
    margin-top: 15rem;
    margin-left: 37rem;
  }
}

.body3 {
  width: 100%;
  display: flex;
}

.body2_content {
  color: #161616;
  margin-left: -8rem;
  margin-top: 19.5rem;
}

.body2_title {
  font-family: IBMPlexSansDevanagari-Medium;
  font-size: 2rem;

  @include mixin.until(media.$sm) {
    font-size: 5rem;
    margin-top: 9rem;
    margin-left: 33.8rem;
    word-spacing: 1rem;
  }
}

.body2_text {
  font-family: IBMPlexSansDevanagari-Light;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 2rem;
  @include mixin.until(media.$sm) {
    font-size: 3.3rem;
    margin-left: 34rem;
    line-height: 4.8rem;
    word-spacing: 1.5rem;
    margin-top: -1rem;
  }
}

.body3_content {
  color: #161616;
  margin-left: 3rem;
  margin-top: 12rem;

  @include mixin.until(media.$sm) {
    margin: auto;
  }
}

.body3_title {
  font-size: 2.2rem;
  font-family: IBMPlexSansDevanagari-Medium;
  margin-top: 1.6rem;

  @include mixin.until(media.$sm) {
    font-size: 5rem;
    margin-top: 12rem;
    margin-bottom: 7rem;
    text-align: center;
    margin-left: -10rem;
  }
}

.body3_text {
  font-family: IBMPlexSansDevanagari-Light;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 1.5rem;

  @include mixin.until(media.$sm) {
    font-size: 3.6rem;
    line-height: 4.7rem;
    margin-left: -10rem;
  }
}

.button {
  display: block;
  margin: auto;
  font-family: HappyMonkey-Regular;
  background: transparent;
  border-radius: 8px;
  width: 8rem;
  font-size: 1rem;
  margin-top: 2rem;
  color: #000000;
  border: 2px solid #000000;
  cursor: pointer;
  text-align: center;
  line-height: 2.8rem;
  text-decoration: none;
  height: 2.8rem;

  &:hover {
    background: #292929;
    color: #ffffff;
  }

  @include mixin.until(media.$sm) {
    font-size: 3rem;
    width: 22rem;
    height: 7rem;
    line-height: 7rem;
    margin-top: 4rem;
  }
}

.link {
  margin-top: 6rem;
  color: #ADADAD;

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: background-color, color;
  @include mixin.until(media.$sm) {
    margin-top: 24rem;
  }

  &:hover,
  &:focus {
    color: rgba(var(--black), 1);
  }
}

.icon {
  width: 4rem;
  @include mixin.until(media.$sm) {
    width: 24rem;
  }
}

.img1 {
  width: 21.3rem;
  margin-top: 12rem;
  margin-left: 6.7rem;
  height: fit-content;

  @include mixin.until(media.$sm) {
    width: 68rem;
    margin-top: 10rem;
    margin-left: 1rem;
  }
}

.img2 {
  width: 18.6rem;
  margin-top: 8.6rem;
  margin-left: 2rem;
  height: fit-content;

  @include mixin.until(media.$sm) {
    width: 57rem;
    margin-top: 14rem;
    margin-left: 20.5rem;
  }
}

.idea {
  width: 29rem;
  margin-top: 17.2rem;
  margin-left: 7.4rem;
  height: fit-content;

  @include mixin.until(media.$sm) {
    width: 76rem;
    margin-left: 4rem;
    margin-top: 2rem;
    object-fit: contain;
  }
}

.text {
  margin-top: 12.4rem;
  color: rgba(var(--black), 1);
  text-align: center;
  font-size: 2.1rem;
  margin-left: 0.5rem;
  line-height: 3rem;
  font-family: IBMPlexSansDevanagari-Medium;

  @include mixin.until(media.$sm) {
    font-size: 5.3rem;
    margin-top: 5rem;
    line-height: 7rem;
  }
}

.launch {
  --justify-content-usoutlined-button: space-between;

  width: 100%;
  margin-top: 2rem;

  @include mixin.from(media.$sm) {
    width: auto;
    min-width: 18.75rem;
  }

  @include mixin.from(media.$md) {
    margin-top: 0;
  }
}


.top {
  display: flex;
  margin-top: var(--header-height);
  width: fit-content;
  position: relative;
  padding-bottom: 12rem;

  .texts {
    margin-left: 9rem;
    @include mixin.until(media.$sm) {
      margin-left: 6rem;
    }

    h1 {
      margin-top: 8.8rem;
      @include mixin.until(media.$sm) {
        margin-top: 20rem;
      }
    }

    p {
      font-size: 1.3rem;
      margin-top: 1rem;
      @include mixin.until(media.$sm) {
        font-size: 3.2rem;
        word-spacing: 1rem;
        margin-top: 3rem;
      }
    }

    button {
      margin-top: 2rem;
      width: 6rem;
      border-radius: 1rem;
      border: 1px solid rgba(165, 255, 190, 1);

      @include mixin.until(media.$sm) {
        font-size: 3rem;
        width: 20rem;
        border-radius: 4rem;
        margin-top: 8rem;
      }
    }
  }

  img {
    width: 31rem;
    margin-right: 0;
    position: absolute;
    top: 2.5rem;
    left: 42.2rem;

    @include mixin.until(media.$sm) {
      width: 41rem;
      top: 48rem;
      left: 30rem;
    }
  }

}

.about {
  display: flex;
  position: relative;

  @include mixin.until(media.$sm) {
    margin-top: 48rem;
  }

  img {
    width: 12rem;
    height: fit-content;
    margin-top: 11.5rem;
    margin-left: 15.5rem;
    object-fit: contain;
    @include mixin.until(media.$sm) {
      width: 24rem;
      left: 28rem;
      position: absolute;
      height: auto;
      margin-left: 16rem;
    }
  }

  .texts {
    margin-top: 8.6rem;
    padding-left: 6.8rem;
    @include mixin.until(media.$sm) {
      margin-top: 14rem;
    }

    h3 {
      color: #A5FFBE;
      margin-top: 1.6rem;

      @include mixin.until(media.$sm) {
        max-width: 32rem;
        margin-top: 8rem;
      }
    }

    p {
      max-width: 29rem;

      @include mixin.until(media.$sm) {
        margin-top: 3rem;
        max-width: 68rem;
      }
    }
  }
}

.project {
  display: flex;
  position: relative;

  img {
    width: 12rem;
    margin-left: 7.6rem;
    margin-top: 5rem;
    @include mixin.until(media.$sm) {
      width: 32rem;
      height: auto;
      position: absolute;
      top: 12rem;
      margin-left: 6rem;
    }
  }

  .texts {
    margin-top: 4.2rem;
    margin-left: 13.4rem;
    @include mixin.until(media.$sm) {

    }

    h3 {
      color: #A5FFBE;
      margin-top: 1.6rem;
      @include mixin.until(media.$sm) {
        margin-top: 18rem;
        margin-left: 28rem;
        max-width: 22.6rem;
      }
    }

    p {
      max-width: 31rem;
      @include mixin.until(media.$sm) {
        position: absolute;
        max-width: 59rem;
        left: 8rem;
        top: 52rem;
      }
    }

    button {
      margin-top: 2rem;
      width: 8rem;
      border: 1px solid rgba(165, 255, 190, 1);
      @include mixin.until(media.$sm) {
        position: absolute;
        margin-left: 28rem;
        margin-top: 4rem;
        width: fit-content;
        border-radius: 7rem;
        padding: 0 3rem;
        font-size: 3rem;
      }
    }
  }
}

.card {
  display: flex;
  background-image: url("./assets/img_4.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 61.8rem;
  margin-top: 11.5rem;
  margin-left: auto;
  margin-right: auto;

  @include mixin.until(media.$sm) {
    width: 68rem;
    flex-direction: column;
    margin-top: 70rem;
    border-radius: 4rem;
    background-size: auto 100%;
  }

  .left {
    position: relative;

    img {
      width: 12rem;
      margin-top: 16.5rem;
      margin-left: 7.8rem;
      @include mixin.until(media.$sm) {
        width: 24rem;
        position: absolute;
        margin-top: 14rem;
        margin-left: 38rem;
      }
    }

    h2 {
      margin-top: 2rem;
      margin-left: 7.6rem;
      max-width: 14rem;
      color: #ffffff;
      @include mixin.until(media.$sm) {
        max-width: 20rem;
        margin-top: 20rem;
        margin-left: 4rem;
      }
    }
  }

  .list {
    margin-left: 12.5rem;
    padding-top: 9.5rem;
    padding-bottom: 3.2rem;

    @include mixin.until(media.$sm) {
      margin-left: 8rem;
    }

    .item {
      display: flex;
      justify-content: left;
      position: relative;
      padding-bottom: 3.5rem;
      margin-bottom: 2rem;
      @include mixin.until(media.$sm) {
        margin-bottom: 16rem;
        display: flex;
      }

      svg {
        width: 2.8rem;
        height: fit-content;
        @include mixin.until(media.$sm) {
          width: 8rem;
          margin-top: 1rem;
          height: 8rem;
        }
      }

      .texts {
        margin-left: 1rem;
        @include mixin.until(media.$sm) {
          margin-left: 6rem;
        }

        h3 {
          color: #A5FFBE;
          @include mixin.until(media.$sm) {
            max-width: 20rem;
          }
        }

        p {
          margin-top: 1.2rem;
          max-width: 20rem;
          @include mixin.until(media.$sm) {
            max-width: 42rem;
          }
        }
      }

      .line {
        position: absolute;
        height: 0.15rem;
        background: #748FB5;
        opacity: 0.15;
        width: 20rem;
        bottom: 0;
        margin-left: 0.3rem;

        @include mixin.until(media.$sm) {
          width: 60rem;
          height: 0.6rem;
          bottom: -7rem;
        }
      }
    }
  }
}

.analyse {
  h2 {
    text-align: center;
    margin-top: 11rem;

    @include mixin.until(media.$sm) {
      margin-top: 28rem;
      max-width: 42rem;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .imgs {
    display: flex;
    @include mixin.until(media.$sm) {
      flex-direction: column;
      margin: 2rem auto;
      width: fit-content;
      align-items: center;
    }

    img {
      width: 45rem;
      margin-top: 3.8rem;
      @include mixin.until(media.$sm) {
        width: 68rem;
        margin-top: 8rem;
      }
    }

    .airdrop {
      width: 13rem;
      height: fit-content;
      margin-top: 7.6rem;
      margin-left: 8.7rem;
      margin-right: 4.3rem;

      @include mixin.until(media.$sm) {
        width: 24rem;
      }
    }
  }
}

.asset {
  text-align: center;
  margin: 8rem auto 2rem;
  @include mixin.until(media.$sm) {
    margin: 12rem auto 2rem;
  }
}

.list1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 48rem;
  margin: auto;
  @include mixin.until(media.$sm) {
    max-width: 68rem;
    margin-top: 4rem;
  }

  .item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-bottom: 1.2rem;
    @include mixin.until(media.$sm) {
      margin-bottom: 6rem;
    }

    img {
      width: 5.2rem;
      height: fit-content;
      margin: 1.2rem;

      &:hover {
        filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);;
      }
      @include mixin.until(media.$sm) {
        width: 8.5rem;
      }
    }

    p {
      @include mixin.until(media.$sm) {
        font-size: 2rem;
        transform: scale(0.75);
      }
    }
  }
}

.roadmap {
  width: 100%;
  margin: auto;
  text-align: center;
  background-image: url("./assets/img_7.png");
  background-size: 100%;
  padding-top: 16rem;

  @include mixin.until(media.$sm) {
    background-size: auto 100%;
    padding-top: 30rem;
  }

  h2 {
    color: #1E252B;
  }

  .list2 {
    display: flex;
    width: fit-content;
    margin: 4rem auto;
    @include mixin.until(media.$sm) {
      margin: 12rem auto;
      flex-direction: column;
    }

    .item2 {
      display: flex;
      position: relative;
      width: 14.5rem;

      @include mixin.until(media.$sm) {
        width: unset;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12rem;
      }


      .down {
        width: 6rem;
        height: fit-content;
        position: absolute;
        right: 0;
        top: 0.5rem;
        @include mixin.until(media.$sm) {
          width: 12rem;
          position: relative;
          transform: rotate(90deg);
          margin-top: 8rem;
        }
      }

      .up {
        width: 6rem;
        height: fit-content;
        position: absolute;
        right: 0;
        top: 2rem;
        @include mixin.until(media.$sm) {
          width: 12rem;
          position: relative;
          transform: rotate(90deg);
          margin-top: 8rem;
        }
      }

      .texts {
        color: #1E252B;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10rem;
        @include mixin.until(media.$sm) {
          width: 60rem;
        }

        h3 {
          color: #A5FFBE;
          background: #1E252B;
          width: 3.8rem;
          height: 3.8rem;
          border-radius: 100%;
          line-height: 3.8rem;
          font-family: Inconsolata-VariableFont_wdth;

          @include mixin.until(media.$sm) {
            width: 8rem;
            height: 8rem;
            line-height: 8rem;
          }
        }

        strong {
          font-family: Inconsolata-VariableFont_wdth;
          margin-top: 2rem;
          @include mixin.until(media.$sm) {
            font-size: 2rem;
          }
        }

        p {
          margin-top: 1rem;
        }
      }
    }
  }
}

.footer {
  margin-top: 12rem;
  background: transparent;
}

.socials {
  margin-top: 12rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  @include mixin.until(media.$sm) {
    padding-bottom: 12rem;
  }
  svg {
    @include mixin.until(media.$sm) {
      width: 4rem;
      color: #1E252B;
      height: fit-content;
    }
    &:hover {
      color: rgba(var(--black), 0.6);
    }
  }
}

.tip {
  text-align: center;
  margin-top: 0px;
  word-spacing: 0.1rem;
  @include mixin.until(media.$sm) {
    max-width: 80%;
  }
}


