@use "../../helper/style/mixin";
@use "../../helper/style/media";

@keyframes float {
  50% {
     transform: translate(0, 20px);
  }
}

.component {
  overflow-x: hidden;
  width: 100%;
  height: calc(var(--window-height) - var(--header-height));
}

.body {
  width: 100%;
}


.footer_title {
  color: #161616;
  margin-top: 10rem;
  font-size: 2rem;
  line-height: 0rem;

  @include mixin.until(media.$sm) {
    margin-top: 36rem;
    font-size: 5rem;
    margin-left: -6rem;
    word-spacing: 1.5rem;
  }
}

.footer_text {
  color: #6F6F6F;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 3rem;

  @include mixin.until(media.$sm) {
    margin-top: 8rem;
    font-size: 3.5rem;
    line-height: 5rem;
    margin-left: -6rem;
  }
}

.wrapper {
  display: grid;
  width: 100%;
  padding: 0 0 6rem 0;
  margin: 0 auto;
  box-sizing: border-box;
  background-size: 100% auto;

  @include mixin.until(media.$sm) {

  }
}

.title {
  margin: 0;
}

.twitter:hover {
  fill: black;
}

.body1 {
  width: 100%;
  display: flex;

  @include mixin.until(media.$sm) {
    flex-direction: column-reverse;
  }
}

.body2 {
  width: 100%;
  display: flex;
  justify-content: left;
  text-align: left;
  flex-flow: wrap;
  margin: 0;

  @include mixin.until(media.$sm) {
    flex-direction: column;
  }
}

.bridge {
  width: 19rem;
  height: fit-content;
  margin-top: 9rem;
  margin-left: 12rem;

  @include mixin.until(media.$sm) {
    width: 60rem;
    margin-top: 6rem;
    margin-left: 10rem;
    object-fit: contain;
  }
}

.dance {
  width: 12rem;
  height: fit-content;
  margin-top: 10.2rem;
  margin-left: -6.4rem;
}

.win {
  width: 20.5rem;
  height: fit-content;
  margin-top: 2.2rem;
  margin-left: 18.5rem;

  @include mixin.until(media.$sm) {
    width: 50rem;
    margin-top: 15rem;
    margin-left: 37rem;
  }
}

.body3 {
  width: 100%;
  display: flex;
}

.body2_content {
  color: #161616;
  margin-left: -8rem;
  margin-top: 19.5rem;
}

.body2_title {
  font-size: 2rem;

  @include mixin.until(media.$sm) {
    font-size: 5rem;
    margin-top: 9rem;
    margin-left: 33.8rem;
    word-spacing: 1rem;
  }
}

.body2_text {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 2rem;
  @include mixin.until(media.$sm) {
    font-size: 3.3rem;
    margin-left: 34rem;
    line-height: 4.8rem;
    word-spacing: 1.5rem;
    margin-top: -1rem;
  }
}

.body3_content {
  color: #161616;
  margin-left: 3rem;
  margin-top: 12rem;

  @include mixin.until(media.$sm) {
    margin: auto;
  }
}

.body3_title {
  font-size: 2.2rem;
  margin-top: 1.6rem;

  @include mixin.until(media.$sm) {
    font-size: 5rem;
    margin-top: 12rem;
    margin-bottom: 7rem;
    text-align: center;
    margin-left: -10rem;
  }
}

.body3_text {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 1.5rem;

  @include mixin.until(media.$sm) {
    font-size: 3.6rem;
    line-height: 4.7rem;
    margin-left: -10rem;
  }
}

.button {
  font-family: 'Inconsolata';
  display: block;
  margin: auto;
  background: transparent;
  border-radius: 8px;
  width: 8rem;
  font-size: 1rem;
  margin-top: 2rem;
  color: #000000;
  border: 2px solid #000000;
  cursor: pointer;
  text-align: center;
  line-height: 2.8rem;
  text-decoration: none;
  height: 2.8rem;

  &:hover {
    background: #292929;
    color: #ffffff;
  }

  @include mixin.until(media.$sm) {
    font-size: 3rem;
    width: 22rem;
    height: 7rem;
    line-height: 7rem;
    margin-top: 4rem;
  }
}

.link {
  margin-top: 6rem;
  color: #ADADAD;

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: background-color, color;
  @include mixin.until(media.$sm) {
    margin-top: 24rem;
  }

  &:hover,
  &:focus {
    color: rgba(var(--black), 1);
  }
}

.icon {
  width: 4rem;
  @include mixin.until(media.$sm) {
    width: 24rem;
  }
}

.img1 {
  width: 21.3rem;
  margin-top: 12rem;
  margin-left: 6.7rem;
  height: fit-content;

  @include mixin.until(media.$sm) {
    width: 68rem;
    margin-top: 10rem;
    margin-left: 1rem;
  }
}

.img2 {
  width: 18.6rem;
  margin-top: 8.6rem;
  margin-left: 2rem;
  height: fit-content;

  @include mixin.until(media.$sm) {
    width: 57rem;
    margin-top: 14rem;
    margin-left: 20.5rem;
  }
}

.idea {
  width: 29rem;
  margin-top: 17.2rem;
  margin-left: 7.4rem;
  height: fit-content;

  @include mixin.until(media.$sm) {
    width: 76rem;
    margin-left: 4rem;
    margin-top: 2rem;
    object-fit: contain;
  }
}

.text {
  margin-top: 12.4rem;
  color: rgba(var(--black), 1);
  text-align: center;
  font-size: 2.1rem;
  margin-left: 0.5rem;
  line-height: 3rem;

  @include mixin.until(media.$sm) {
    font-size: 5.3rem;
    margin-top: 5rem;
    line-height: 7rem;
  }
}

.launch {
  --justify-content-usoutlined-button: space-between;

  width: 100%;
  margin-top: 2rem;

  @include mixin.from(media.$sm) {
    width: auto;
    min-width: 18.75rem;
  }

  @include mixin.from(media.$md) {
    margin-top: 0;
  }
}


.top {
  display: flex;
  max-width: 80rem;
  height: 43.75rem;
  padding: 0 6rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-image: url("./assets/md_bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
  @include mixin.until(media.$sm) {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    height: 56.8rem;
    background-image: url("./assets/md_bg.png");
    background-position: center center;
    background-size: auto 100%;
    padding: 0;
  }

  .texts {
    font-size: 4rem;
    width: 44rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include mixin.until(media.$sm) {
      font-size: 3.2rem;
      max-width: 31.5rem;
      margin: 0 auto;
    }

    h1 {
      // margin-top: 8.8rem;
      width: 100%;
      font-size: 4rem;
      @include mixin.until(media.$sm) {
        margin-top: 3.814rem;
        font-size: 3.2rem;
      }
    }

    p {
      width: 100%;
      font-size: 1.5rem;
      margin-top: 1rem;
      @include mixin.until(media.$sm) {
        font-size: 1.6rem;
        margin-top: 2rem;
      }
    }

    button {
      margin: 2rem auto;
      width: 12.1875rem;
      height: 2.5rem;
      color: #213425;
      font-weight: 700;
      border-radius: 6px;
      font-family: 'Inconsolata-VariableFont_wdth';
      border: 0;
      margin-left: 0;
      background: linear-gradient(90deg, #A5FFBE 0%, #55DD7B 100%) !important;
      @include mixin.until(media.$sm) {
        font-size: 1.25rem;
        width: 24rem;
        height: 4rem;
        margin: 4rem auto;
      }
    }
  }

  img {
    width: 25rem;
    margin-right: 0;
    @include mixin.until(media.$sm) {
      width: 19.862rem;
      margin-left: 0;
    }
  }

  .top_left_icon {
    width: 2.2rem;
    top: 11rem;
    right: 20.9375rem;
    position: absolute;
    animation: float 3s ease-out infinite;
    @include mixin.until(media.$sm) {
      top: 14rem;
      left: 5.9375rem;
    }
  }

  .top_right_icon {
    width: 3rem;
    right: 9.6rem;
    top: 18rem;
    position: absolute;
    animation: float 3s ease-out infinite;
    @include mixin.until(media.$sm) {
      top: 18rem;
      left: 13.6rem;
    }
  }

}

.about {
  max-width: 57.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2C353D;
  border: 1px solid #FDFFAC;
  box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
  border-radius: 24px;
  margin: 1.25rem auto 0;
  @include mixin.until(media.$sm) {
    width: 31.5rem;
    flex-direction: row-reverse;
  }

  img {
    width: 12rem;
    height: fit-content;
    margin-top: 11.5rem;
    margin-left: 15.5rem;
    object-fit: contain;
    @include mixin.until(media.$sm) {
      
    }
  }

  .texts {
    padding: 3.9375rem 2.1875rem;
    @include mixin.until(media.$sm) {
      padding: 4.7rem 3.65rem;
    }

    h3 {
      color: #fff;
      margin-top: 1.6rem;
      font-size: 3.5rem;
      text-align: center;
      @include mixin.until(media.$sm) {
        max-width: 87.625rem;
        text-align: center;
        font-size: 3.2rem;  
        margin-top: 0;
      }

      span {
        color: #A5FFBE
      }
    }

    p {
      max-width: 43.8125rem;
      font-size: 1.25rem;
      text-align: center;
      margin-top: 1.25rem;
      @include mixin.until(media.$sm) {
        font-size: 1.6rem;
        margin: 2.4rem auto 0;
        max-width: 87.625rem;
      }
    }
  }
}

.goldchain {
  max-width: 57.75rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 24px;
  margin: 9.5rem auto 0;
  @include mixin.until(media.$sm) {
    font-size: 3.2rem;
    margin: 12rem auto 0;
    max-width: 87.625rem;
    text-align: center;
  }

  .title {
    max-width: 43.75rem;
    text-align: center;
    @include mixin.until(media.$sm) {

    }
    h3 {
      color: #fff;
      margin-top: 1.6rem;
      font-size: 3.5rem;
      @include mixin.until(media.$sm) {
        font-size: 3.2rem;
        width: 27rem;
        text-align: center;
        margin: 0 auto 1.6rem;
      }
      span {
        color: #A5FFBE
      }
    }

    p {
      font-size: 1.25rem;
      max-width: 43.8125rem;
      text-align: center;
      color: #A5FFBE;
      margin-top: 1rem;
      @include mixin.until(media.$sm) {
        width: 29.7rem;
        font-size: 1.6rem;
        margin: 0 auto;
      }
    }
  }

  .description {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    align-items: center;
    @include mixin.until(media.$sm) {
      width: 31.5rem;
    }
    img {
      width: 40rem;
      height: 23.5rem;
      @include mixin.until(media.$sm) {
        width: 31.5rem;  
        height: fit-content;
      }
    }

    .des_content {
      margin-left: 1.25rem;
      @include mixin.until(media.$sm) {
        text-align: left;
        margin-left: 0;
      }
      p {
        font-size: 1rem;
        color: #b7b7b7;
        max-width: 21.5rem;
        margin-top: 1.5rem;
        @include mixin.until(media.$sm) {
          text-align: left;
          font-size: 1.4rem;
          max-width: 100%;
        }
      }

      p:first-of-type {
        color: #FDFFAC;
        font-size: 1.25rem;
        @include mixin.until(media.$sm) {
          max-width: 23.152rem;
          text-align: left;
          font-size: 1.6rem;
        }
      }

      button {
        width: 9rem;
        border: none;
        color: #536A5A;
        background-color: #A5FFBE;
        border-radius: 8px;
        margin-top: 1.5rem;
        font-size: 1rem;
        font-family: 'Inconsolata';
        font-style: normal;
        font-weight: 600;
        @include mixin.until(media.$sm) {
          font-size: 1.6rem;
          width: 13.577rem;
          height: 4rem;
        }
      }
    }
    @include mixin.until(media.$sm) {
      flex-direction: column;
    }
  }
}

.features {
  width: 100%;
  height: 60rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: -9.5rem auto 0;
  background-image: url("./assets/bg_1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  @include mixin.until(media.$sm) {
      font-size: 3.2rem;
      margin: 12rem auto 0;
    }

  h3 {
    color: #fff;
    margin-top: 1.6rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    span {
      color: #A5FFBE;
    }
  }

  .features_content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    @include mixin.until(media.$sm) {
      width: 31.5rem;
      flex-direction: column;
    }
    div {
      height: 12.75rem;
      width: 19.375rem;
      background: #2C353D;
      box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
      border-radius: 8px;
      padding: 1.5rem;
      @include mixin.until(media.$sm) {
        width: 31.5rem;
        padding: 2.5rem 2.4rem;
      }

      img {
        width: 2.5rem;
      }
      h5 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        color: #A5FFBE;
      }

      p {
        color: #b7b7b7;
        width: 100%;
        font-size: 1rem;
        @include mixin.until(media.$sm) {
          font-size: 1.6rem;
          width: 31.5rem;
        }
      }
    }

    div:first-of-type {
      margin-right: -1.5rem;
      @include mixin.until(media.$sm) {
        margin-right: 0;
        width: 31.5rem;
        height: fit-content;
      }
      p {
        @include mixin.until(media.$sm) {
          font-size: 1.6rem;
          max-width: 26.6rem;
        }
      }
    }

    div:nth-child(2) {
      width: 23.875rem;
      height: fit-content;
      z-index: 2;
      @include mixin.until(media.$sm) {
        margin-right: 0;
        z-index: 0;
        width: 31.5rem;
      }
      p {
        @include mixin.until(media.$sm) {
          max-width: 26.6rem;
        }
      }
    }

    div:nth-child(3) {
      margin-left: -0.5rem;
      @include mixin.until(media.$sm) {
        margin-left: 0;
        margin-top: -2.0rem;
        width: 31.5rem;
        z-index: 1;
        height: fit-content;
      }
      p {
        @include mixin.until(media.$sm) {
          max-width: 26.6rem;
        }
      }
    }
  }
}

.applications {
  max-width: 57.75rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 9.5rem auto 0;
  @include mixin.until(media.$sm) {
    margin: 12rem auto 0;
  }

  h3 {
    color: #fff;
    margin-top: 1.6rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    @include mixin.until(media.$sm) {
      font-size: 3.2rem;
      text-align: center;
    }
    span {
      color: #A5FFBE;
    }
  }

  .app_items {

    .imgs {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 12rem;
        margin: 0 2.25rem;
      }
    }
    .app_item_box {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 1.5rem;
      @include mixin.until(media.$sm) {
        max-width: 31.5rem;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 6rem auto 0;
      }
      div {
        width: 13.4375rem;
        height: 12.75rem;
        background: #2C353D;
        box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
        border-radius: 8px;
        padding: 2.5rem 2.1875rem;
        margin-right: -2.375rem;
        @include mixin.until(media.$sm) {
          margin: auto;
          width: 21.5rem;
          height: 14.8rem;
          text-align: left;
        }
        p {
          font-size: 1.5rem;
          color: #A5FFBE;
          font-weight: 600;
          @include mixin.until(media.$sm) {
            margin-top: 1rem;
          }
        }
      }

      div:nth-of-type(n+1) {
        @include mixin.until(media.$sm) {
            margin-top: -3rem;
          }
      }

      div:last-child {
        margin-right: 0;
        margin-left: 0;
        @include mixin.until(media.$sm) {
          margin: -3rem auto 0;
        }
      }
    }
  }
}

.infrastructure {
  max-width: 57.75rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 24px;
  margin: 9.5rem auto 0;
  text-align: center;
  @include mixin.until(media.$sm) {
    margin-top: 12rem auto 0;
  }
  h3 {
    color: #fff;
    margin-top: 1.6rem;
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  h5 {
    color: #A5FFBE;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.25rem;
    max-width: 43.8125rem;
    text-align: center;
    color: #fff;
    @include mixin.until(media.$sm) {
      max-width: 29.7rem;
    }
  }

  .Ecosystem_content {
    h3 {
      color: #FDFFAC;
      font-size: 1.5rem;
    }

    .Ecosystem_content_box {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 10;
      @include mixin.until(media.$sm) {
        justify-content: center;
        flex-wrap: wrap;
      }
      div {
        width: 9.0625rem;
        height: 8.625rem;
        background: #2C353D;
        border: 1px solid #FDFFAC;
        box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
        border-radius: 8px;
        padding: 1rem;
        margin: 0 0.5rem;
        @include mixin.until(media.$sm) {
          width: 14.5rem;
          height: 13.4rem;
          margin: 0.4rem;
        }
        img {
          width: 3.5rem;
          height: 3.5rem;
          @include mixin.until(media.$sm) {
            width: 5.6rem;
            height: 5.6rem;
          }
        }
        p {
          font-size: 1rem;
          @include mixin.until(media.$sm) {
            margin-top: 1.6rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

.multiverse {
  width: 100%;
  height: 57rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 24px;
  margin: 0;
  text-align: center;
  background-image: url("./assets/bg_0.png");
  background-size: 100%;
  background-repeat: no-repeat;
  @include mixin.until(media.$sm) {
    padding-bottom: 0;
    margin: 11rem 0 31rem 0;
    background-size: cover;
  }

  h3 {
    color: #fff;
    font-size: 3.5rem;
    // margin-bottom: 6rem;
    margin-top: -5rem;
    @include mixin.until(media.$sm) {
      margin-bottom: 2.1rem;
      margin-top: 20rem;
    }
    span {
      color: #A5FFBE;
    }
  }

  button {
      margin: 1.25rem 0 6rem;
      width: 12.1875rem;
      height: 2.5rem;
      color: #213425;
      font-weight: 700;
      border-radius: 6px;
      border: 0;
      margin-left: 0;
      font-family: 'Inconsolata-VariableFont_wdth';
      background: linear-gradient(90deg, #A5FFBE 0%, #55DD7B 100%) !important;
      @include mixin.until(media.$sm) {
        font-size: 1.25rem;
        width: 24rem;
        height: 4rem;
        min-height: 4rem;
        margin: 0 0 2rem;
      }
    }

  .multiverse_content {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: baseline;
    margin-top: 6rem;
    gap: 2rem;
    @include mixin.until(media.$sm) {
      max-width: 31.5rem;
      flex-direction: column;
      margin-top: 6rem;
    }
    p {
      width: 34.5rem;
      height: fit-content;
      background: #2C353D;
      box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
      border-radius: 20px;
      font-size: 1.25rem;
      padding: 2.5rem 3.625rem;
      text-align: left;
      @include mixin.until(media.$sm) {
        width: 31.9rem;
        font-size: 1.6rem;
      }

      span:nth-child(2) {
        display: inline-block;
        margin-top: 2rem;
      }
    }
  }

  .multiverse_float_top_icon {
    width: 16rem;
    position: absolute;
    top: -6rem;
    right: 2rem;
    animation: float 3s ease-out infinite;
    @include mixin.until(media.$sm) {
      right: -5rem;
      top: -5rem;
    }
  }

  .multiverse_float_bottom_icon {
    width: 18rem;
    position: absolute;
    bottom: -5rem;
    left: 2rem;
    animation: float 3s ease-out infinite;
    @include mixin.until(media.$sm) {
      bottom: -40rem;
      left: -3rem;
    }
  }
}

.project {
  display: flex;
  margin-top: 9.5rem;
  position: relative;

  img {
    width: 12rem;
    margin-left: 7.6rem;
    margin-top: 5rem;
    @include mixin.until(media.$sm) {
      width: 32rem;
      height: auto;
      position: absolute;
      top: 12rem;
      margin-left: 6rem;
    }
  }

  .texts {
    margin-top: 4.2rem;
    margin-left: 13.4rem;
    @include mixin.until(media.$sm) {

    }

    h3 {
      color: #A5FFBE;
      margin-top: 1.6rem;
      @include mixin.until(media.$sm) {
        margin-top: 18rem;
        margin-left: 28rem;
        max-width: 22.6rem;
      }
    }

    p {
      max-width: 31rem;
      @include mixin.until(media.$sm) {
        position: absolute;
        max-width: 59rem;
        left: 8rem;
        top: 52rem;
      }
    }

    button {
      font-family: 'Inconsolata';
      margin-top: 2rem;
      width: 8rem;
      border: 1px solid rgba(165, 255, 190, 1);
      @include mixin.until(media.$sm) {
        position: absolute;
        margin-left: 28rem;
        margin-top: 4rem;
        width: fit-content;
        border-radius: 7rem;
        padding: 0 3rem;
        font-size: 3rem;
      }
    }
  }
}

.card {
  display: flex;
  background-image: url("./assets/img_4.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 61.8rem;
  margin-top: 11.5rem;
  margin-left: auto;
  margin-right: auto;

  @include mixin.until(media.$sm) {
    width: 68rem;
    flex-direction: column;
    margin-top: 70rem;
    border-radius: 4rem;
    background-size: auto 100%;
  }

  .left {
    position: relative;

    img {
      width: 12rem;
      margin-top: 16.5rem;
      margin-left: 7.8rem;
      @include mixin.until(media.$sm) {
        width: 24rem;
        position: absolute;
        margin-top: 14rem;
        margin-left: 38rem;
      }
    }

    h2 {
      margin-top: 2rem;
      margin-left: 7.6rem;
      max-width: 14rem;
      color: #ffffff;
      @include mixin.until(media.$sm) {
        max-width: 20rem;
        margin-top: 20rem;
        margin-left: 4rem;
      }
    }
  }

  .list {
    margin-left: 12.5rem;
    padding-top: 9.5rem;
    padding-bottom: 3.2rem;

    @include mixin.until(media.$sm) {
      margin-left: 8rem;
    }

    .item {
      display: flex;
      justify-content: left;
      position: relative;
      padding-bottom: 3.5rem;
      margin-bottom: 2rem;
      @include mixin.until(media.$sm) {
        margin-bottom: 16rem;
        display: flex;
      }

      svg {
        width: 2.8rem;
        height: fit-content;
        @include mixin.until(media.$sm) {
          width: 8rem;
          margin-top: 1rem;
          height: 8rem;
        }
      }

      .texts {
        margin-left: 1rem;
        @include mixin.until(media.$sm) {
          margin-left: 6rem;
        }

        h3 {
          color: #A5FFBE;
          @include mixin.until(media.$sm) {
            max-width: 20rem;
          }
        }

        p {
          margin-top: 1.2rem;
          max-width: 20rem;
          @include mixin.until(media.$sm) {
            max-width: 42rem;
          }
        }
      }

      .line {
        position: absolute;
        height: 0.15rem;
        background: #748FB5;
        opacity: 0.15;
        width: 20rem;
        bottom: 0;
        margin-left: 0.3rem;

        @include mixin.until(media.$sm) {
          width: 60rem;
          height: 0.6rem;
          bottom: -7rem;
        }
      }
    }
  }
}


.asset {
  text-align: center;
  margin: 8rem auto 2rem;
  @include mixin.until(media.$sm) {
    margin: 12rem auto 2rem;
  }
}

.list1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80rem;
  background: #A5FFBE;
  margin: 2.5rem auto 0;
  height: fit-content;
  padding: 1.5rem 4.5rem;
  @include mixin.until(media.$sm) {
    margin-top: 4rem;
    max-width: 100%;
    justify-content: space-around;
  }

  .item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 1.2rem;
    @include mixin.until(media.$sm) {
      width: 2.4rem;
      margin: 0 0.6rem;
    }

    img {
      width: 3rem;
      height: fit-content;
      margin: 1.2rem;

      &:hover {
        filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);;
      }
      @include mixin.until(media.$sm) {
        width: 3.2rem;
        margin: 0.6rem;
      }
    }

    p {
      font-size: 0.875rem;
      color: #536A5A;
      @include mixin.until(media.$sm) {
        font-size: 1rem;
        transform: scale(0.75);
      }
    }
  }
}

.roadmap {
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-top: 9.6rem;
  justify-content: center;
  @include mixin.until(media.$sm) {
    flex-direction: column;
    margin-top: 12rem;
  }

  .left_box {
    margin-right: 3.9rem;
    @include mixin.until(media.$sm) {
      margin-right: 0;
      margin-bottom: 4.4rem;
    }
    h3 {
      font-size: 3.5rem;
    }
    img {
      width: 20.6875rem;
      height: 17.0625rem;
      margin-top: 2.5rem;
    }
  }

  .roadmap_list {
    @include mixin.until(media.$sm) {
      max-width: 31.5rem;
      margin: 0 auto;
    }
    div {
      max-width: 34.25rem;
      max-height: fit-content;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      text-align: left;
      padding: 1rem;
      margin-bottom: 1rem;
      @include mixin.until(media.$sm) {
        max-width: 25.3rem;
        margin: 0 auto;
      }
      p {
        font-size: 1.25rem;
      }
      p:nth-child(2) {
        color: #ebebeb;
        opacity: 0.6;
        font-size: 1rem;
      }
    }

    div:first-of-type {
      box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
      @include mixin.until(media.$sm) {
        margin-left: 0;
      }

      p:first-child {
        color: #fff;
      }
    }

    div:nth-child(2) {
      margin-left: 2.1875rem;
    }

    div:nth-child(3) {
      margin-left: 4.375rem;

    }

    div:nth-child(4) {
      margin-left: 6.5625rem;

    }
  }
}

.footer {
  margin-top: 12rem;
  background: transparent;
}

.line {
  max-width: 71rem;
  height: 0.0625rem;
  background-color: #A5FFBE;
  margin: 5.1875rem auto;
  @include mixin.until(media.$sm) {
    margin: 4rem auto 0;
    width: 23.1rem;
  }
}

.socials {
  margin-top: 2.75rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  @include mixin.until(media.$sm) {
  }
  svg {
    width: 1rem;
    @include mixin.until(media.$sm) {
      width: 1.2rem;
      color: #1E252B;
      height: fit-content;
    }
    &:hover {
      color: rgba(var(--black), 0.6);
    }
  }
}

.tip {
  text-align: center;
  margin-top: 0px;
  word-spacing: 0.1rem;
  @include mixin.until(media.$sm) {
    max-width: 80%;
  }
}

.explore {
  height: 100vh;
  background-image: url('../../../pages/explore/explore-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10rem 40px 40px;
  & .imgWrapper {
    width: auto;
    height: 100%;
  }
}


