@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  grid-template-rows: 55.5vw 1fr;
  height: calc(var(--window-height) - var(--header-height));
}

.video {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body {
  display: grid;
  width: 100%;
  background-color: rgba(var(--white), 1);
}

.footer {
  background: linear-gradient(0deg, #8AECFF, #8AECFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  margin-top: -4rem;
}

.footer_title {
  color: #161616;
  margin-top: 9rem;
  font-size: 2rem;
}

.footer_text {
  color: #6F6F6F;
  text-align: center;
  font-size: 1.4rem;
}

.wrapper {
  display: grid;

  width: 100%;
  padding: 0 0 6rem 0;
  margin: 0 auto;

  box-sizing: border-box;
  background-image: url("./assets/img.png");
  background-size: 100% auto;
}

.title {
  margin: 0;
}

.body1 {
  width: 100%;
  display: flex;
}

.body2 {
  width: 100%;
  display: flex;
  justify-content: left;
  text-align: left;
}

.bridge {
  width: 19rem;
  height: fit-content;
  margin-top: 9rem;
  margin-left: 12rem;
}

.dance {
  width: 12rem;
  height: fit-content;
  margin-top: 10.2rem;
  margin-left: -6.4rem;
}

.win {
  width: 20.5rem;
  height: fit-content;
  margin-top: 2.2rem;
  margin-left: 18.5rem;
}

.body3 {
  width: 100%;
  display: flex;
}

.body2_content {
  color: #161616;
  margin-left: -8rem;
  margin-top: 19.5rem;
}

.body2_title {
  font-size: 2rem;
}

.body2_text {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: -0.5rem;
}

.body3_content {
  color: #161616;
  margin-left: 3rem;
  margin-top: 12rem;
}

.body3_title {
  font-size: 2rem;
}

.body3_text {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 2.5rem;
}

.button {
  background: transparent;
  border-radius: 8px;
  width: 8rem;
  height: 2.8rem;
  font-size: 1rem;
  margin-top: 2rem;
  color: #000000;
  border: 2px solid #000000;
  cursor: pointer;
  &:hover {
    background: #292929;
    color: #ffffff;
  }
}

.img1 {
  width: 24rem;
  margin-top: 18.2rem;
  margin-left: 6.5rem;
  height: fit-content;
}

.img2 {
  width: 18.6rem;
  margin-top: 6.8rem;
  margin-left: 3.2rem;
  height: fit-content;
}

.line {
  width: 26rem;
  margin-top: 4.8rem;
  margin-left: 1rem;
  height: fit-content;
}

.idea {
  width: 34rem;
  margin-top: 14.5rem;
  margin-left: 2rem;
  height: fit-content;
}

.text {
  margin-top: 11.4rem;
  color: rgba(var(--black), 1);
  text-align: center;
  font-size: 2.1rem;
  margin-left: -1.5rem;
  line-height: 3rem;
  font-family: IBM Plex Sans Devanagari;
}

.launch {
  --justify-content-usoutlined-button: space-between;

  width: 100%;
  margin-top: 2rem;

  @include mixin.from(media.$sm) {
    width: auto;
    min-width: 18.75rem;
  }

  @include mixin.from(media.$md) {
    margin-top: 0;
  }
}



