@use "../../src/helper/style/mixin.scss";
@use "../../src/helper/style/media.scss";

.component {
  overflow-x: hidden;
  width: 100%;
  height: calc(var(--window-height) - var(--header-height));
}

.body {
  width: 100%;
}
.ecosystem {
  height: 100vh;
  background-image: url('../explore/explore-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 8rem 40px 40px;

  @include mixin.until(media.$sm) {
    padding: 8rem 24px 10px;
  }
  .title {
    color: #fff;
    font-size: 40px;
    font-weight: 700;

    @include mixin.until(media.$sm) {
      font-size: 28px;
    }
  }
  .main {
    display: flex;
    margin-top: 20px;

    @include mixin.until(media.$sm) {
      flex-direction: column;
      margin-top: 14px;
    }
  }
  .main_left {
    display: flex;
    flex-direction: column;
    margin-right: 20px;

    @include mixin.until(media.$sm) {
      margin-right: 0;
    }
  }
  .nav_box {
    width: 240px;
    border-radius: 24px;
    border: 1px solid var(--line-color-2, #4B5954);
    background: #151718;
    @include mixin.until(media.$sm) {
      order: 2;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 10px 0;
      padding: 0 20px;
    }
  }
  .nav_item {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    text-decoration: none;
    border-bottom: 1px solid #4B5954;

    &:last-of-type {
      border-bottom: none;
    }
    @include mixin.until(media.$sm) {
      border-bottom: none;
      padding: 0 10px;
      height: 48px;
      line-height: 48px;
    }
  }
  .item_name {
    font-size: 18px;
    color: #fff;
  }
  .item_num {
    color: #7A9283;
    font-size: 18px;
    @include mixin.until(media.$sm) {
      display: none;
    }
  }
  .form_box {
    width: 240px;
    margin-top: 16px;
    padding: 45px 20px;
    border-radius: 24px;
    border: 1px solid var(--line-color-2, #4B5954);
    background: #151718;
    text-align: center;

    @include mixin.until(media.$sm) {
      order: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 0;
      margin-right: 0;
      padding: 10px 20px;
    }

    .icon_love {
      width: 64px;
      height: 54px;
      @include mixin.until(media.$sm) {
        width: 26px;
        height: 22px;
      }
    }

    .text {
      margin-top: 20px;
      line-height: 30px;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      @include mixin.until(media.$sm) {
        margin-top: 0px;
        font-size: 20px;
      }
    }
    .text_green {
      line-height: 30px;
      font-size: 24px;
      font-weight: 700;
      color: #A5FFBE;
      @include mixin.until(media.$sm) {
        font-size: 20px;
      }
    }
    .text_sub {
      margin-top: 10px;
      line-height: 22px;
      font-size: 16px;
      color: var(--font-grey, #85A391);
      @include mixin.until(media.$sm) {
        display: none;
      }
    }
    .btn_submit {
      width: 148px;
      height: 40px;
      margin-top: 30px;
      border-radius: 6px;
      border: none;
      background: var(--button-color, linear-gradient(90deg, #A5FFBE 0%, #55DD7B 100%));
      color: #213425;
      font-size: 20px;
      font-weight: 700;
      font-family: Inconsolata;
      &:hover {
        opacity: 0.9;
      }
      @include mixin.until(media.$sm) {
        display: none;
      }
    }
    .icon_arrow {
      display: none;
      @include mixin.until(media.$sm) {
        display: block;
      }
    }
  }
  .main_right {
    width: 100%;
    height: calc(100vh - 8rem - 102px);
    margin-bottom: 30px;
    padding: 0 0px 30px 30px;
    border-radius: 24px;
    border: 1px solid var(--line-color-2, #4B5954);
    background: #151718;
    font-size: 18px;
    color: #fff;
    overflow: auto;
    @include mixin.until(media.$sm) {
      padding: 0 16px 30px 16px;
      height: calc(100vh - 8rem - 176px);
      margin-bottom: 0px;
    }
    
    &::-webkit-scrollbar {
      width: 0;
    }

    .category {
      padding-top: 20px;
    }

    .category_title {
      padding-left: 10px;
      font-size: 18px;
      border-left: 4px solid #FDFFAC;
      font-weight: 700;
    }
     .category_list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      @include mixin.until(media.$sm) {
        margin-top: 10px;
      }
    }
  }
}
.card {
  width: 31%;
  margin-right: 2%;
  margin-bottom: 10px;
  padding: 10px 8px;
  border-radius: 20px;
  background: #2C353D;
  cursor: pointer;
  &:hover {
    margin-top: -5px;
    border: 1px solid #A5FFBE;
  }
  &:hover {
    transform: scale(1.02, 1.02);
    transition: transform 0.5s;
  }

  @include mixin.until(media.$sm) {
    width: 100%;
    margin-right: 0;
  }

  .card_cover {
    position: relative;
    width: 100%;
    padding-top: 47%;
    border: 1px solid #3E4954;
    border-radius: 16px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.40);
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  .card_info {
    padding-left: 6px;
    padding-bottom: 8px;
  }
  .card_name {
    margin: 10px 0;
    font-weight: 700;
  }
  .card_des {
    font-size: 14px;
    line-height: 18px;
    color: #85A391;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }
}



