@use "../helper/style/mixin";
@use "../helper/style/media";

html {
  font-size: 16px;
  overflow-x: hidden;
  background-color: #E5E5E5;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color:  #1E252B;;
}

* {
  font-family: Quicksand;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  &::-moz-focus-inner {
    border: 0;
  }
}

:root {
  --color-primary: #6B7A8F;
  --color-secondary: #101118;
  --color-accent: #1D1F2F;
  --color-focus: #6D64F7;
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
  font-family: Quicksand;

}

// =========================
// Global
// =========================

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-size: 3.7rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  word-spacing: 0.4rem;
}

button {
  background-color: transparent;
  height: 2.6rem;
  border-radius: 1rem;
  color: #A5FFBE;
  cursor: pointer;
}

.visuallyhidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}


// =========================
// Icons
// =========================

.icon {
  fill: var(--color-primary);
  width: 100%;
}


// =========================
// Buttons
// =========================

.btn {
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.125rem;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2.5rem 1.125rem;

  &:focus {
    outline-color: var(--color-focus);
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 3px;
  }

  &:active {
    transform: translateY(1px);
  }
}


// =========================
// Slider controls
// =========================

.slider__controls {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: 22.5rem;
  width: 100%;

  .btn {
    --size: 4rem;
    background-color: transparent;
    border-radius: 100%;
    height: var(--size);
    padding: 0;
    width: var(--size);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--yellow);
      border-radius: 100%;
      outline: none;
    }

    &--previous > * {
      transform: rotate(180deg);
    }

    svg {
      width: 1.5rem;
      color: #ffffff;
      &:hover {
        color: rgba(var(--white), 0.6);
      }
    }
  }
}


// =========================
// Slider
// =========================

.slider {
  --slide-size: 36rem;
  --slide-margin: 2rem;

  height: 0;
  margin: 0 auto;
  position: relative;
  width: var(--slide-size);
}

.slider__wrapper {
  height: 20rem;
  overflow: hidden;
  display: flex;
  margin: 0 calc(var(--slide-margin) * -1);
  margin-top: 8rem;
  position: absolute;
  transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
}

.dot__wrapper {
  width: 100%;
  position: absolute;
  top: 31rem;
  display: flex;
  margin: -0.5rem;
  justify-content: center;
}
.slide__dot {
  margin: 0.5rem;
  width: 1.2rem;
  height: 0.2rem;
  background-color: #D1D3D7;
}

.dot__active {
  background-color: #6001D3;
}


// =========================
// Slide
// =========================

.slide {
  align-items: center;
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: var(--slide-size);
  justify-content: center;
  margin: 0 var(--slide-margin);
  opacity: 0.25;
  position: relative;
  text-align: center;
  transition:
          opacity calc(var(--base-duration) / 2) var(--base-ease),
          transform calc(var(--base-duration) / 2) var(--base-ease);
  width: var(--slide-size);
  z-index: 1;

  &--previous,
  &--next {
    &:hover {
      opacity: 0.5;
    }
  }

  &--previous {
    cursor: w-resize;

    &:hover {
      transform: translateX(2%);
    }
  }

  &--next {
    cursor: e-resize;

    &:hover {
      transform: translateX(-2%);
    }
  }
}

.slide--current {
  --x: 0;
  --y: 0;
  --d: 50;

  opacity: 1;
  pointer-events: auto;
  user-select: auto;

  @media (hover: hover) {
    &:hover .slide__image-wrapper {
      transform:
              scale(1.025)
              translate(
                              calc(var(--x) / var(--d) * 1px),
                              calc(var(--y) / var(--d) * 1px)
              );
    }
  }
}

.slide__image-wrapper {
  border-radius: 1%;
  height: 100%;
  left: 0%;
  overflow: hidden;
  position: absolute;
  top: 0%;
  transition: transform calc(var(--base-duration) / 4) var(--base-ease);
  width: 100%;
}

.slide__image {
  --d: 20;
  left: -5%;
  object-fit: cover;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transition:
          opacity var(--base-duration) var(--base-ease),
          transform var(--base-duration) var(--base-ease);
  user-select: none;
  width: 100%;

  @media (hover: hover) {
    .slide--current & {
      transform:
              translate(
                              calc(var(--x) / var(--d) * 1px),
                              calc(var(--y) / var(--d) * 1px)
              );
    }
  }
}

.slide__headline {
  font-size: 8vmin;
  font-weight: 600;
  position: relative;
}

.slide__content {
  --d: 60;

  opacity: 0;
  padding: 4vmin;
  position: relative;
  transition: transform var(--base-duration) var(--base-ease);
  visibility: hidden;

  .slide--current & {
    animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
    visibility: visible;

    @media (hover: hover) {
      transform:
              translate(
                              calc(var(--x) / var(--d) * -1px),
                              calc(var(--y) / var(--d) * -1px)
              );
    }
  }

  > * + * {
    margin-top: 2rem;
  }
}


// =========================
// Animations
// =========================

@keyframes fade-in {
  from { opacity: 0 }
  to   { opacity: 1 }
}

$bg: #fff;
$text: #7288a2;
$gray: #4d5974;
$lightgray: #e5e5e5;
$blue: #03b5d2;


.accordion {
  .item {
    padding: 1rem;
    background-color: #2F3142;
    border-radius: 0.5rem;
    margin-top: 2rem;
    button[aria-expanded='true'] {
      //border-bottom: 1px solid $blue;
    }
  }
  button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    color: #F3F4F8;
    &:hover, &:focus {
      cursor: pointer;
      color: $blue;
      &::after {
        cursor: pointer;
        color: $blue;
        border: 1px solid $blue;
      }
    }
    .title {
      padding: 1em 1.5em 1em 0;
    }
    .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px;
      &::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }
      &::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
      }
    }
  }
  button[aria-expanded='true'] {
    color: $blue;
    .icon {
      &::after {
        width: 0;
      }
    }
    + .content {
      opacity: 1;
      max-height: 60rem;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }
  .content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    p {
      font-size: 0.9rem;
      font-weight: 300;
      margin: 2em 0;
    }
  }
}