html {

  color: #70798B;
  //weight
  --regular: 400;

  //colors

  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --violet: 156, 109, 255;
  --yellow: rgba(255, 184, 0, 1);

  //sizes

  --headline-1: 3.5rem;
  --body-1: 1.375rem;

  --line-90: 0.9;
  --line-136: 1.36;

  //grid

  --spacing-unit: 0.5rem;
  --max-width: 1440px;

  --gutters: 4.6rem;

  --grid: 100%;

  --primary-color: rgba(96, 1, 211, 1);
  //header

  --header-height: 7.5rem;

  @media (max-width: 768px) {
    --header-height: 16rem;
    --gutters: 5rem;
  }


  //breakpoints

  --breakpoint-xxs: 360px;
  --breakpoint-xs: 410px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1350px;

  //buttons

  --font-family-button: "Helvetica Neue", sans-serif;
  --justify-content-usoutlined-button: center;
  --button-decoration: none;
  --button-position: relative;

  //resolutions

  //@media (min-width: 768px) {
  //  --header-height: 8.75rem;
  //
  //  --headline-1: 3.5rem;
  //  --body-1: 1.375rem;
  //}
}

h3 {
  font-size: 3.2rem;
  color: #081420;
  font-family: Nunito;
}

button {
  width: 12rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 0.9rem;
}
