.component {}


.list {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  grid-column-gap: 2.25rem;

  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  background: #292929;
  border-radius: 8px;
  width: 8rem;
  height: 2.8rem;
  color: #fff;
  font-size: 1rem;
}

.item {
  position: relative;
}

.link {
  position: relative;
}

.link {
  color: rgba(var(--white), 0.6);

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: background-color, color;

  &:hover,
  &:focus {
    color: rgba(var(--white), 1);
  }
}

.link svg {

}


