@use "../../../../helper/style/mixin";
@use "../../../../helper/style/media";

.component {}


.list {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  grid-column-gap: 2.25rem;
  width: fit-content;
  margin: 0;
  padding: 0;
  list-style: none;
}

.videoButton {
  background: transparent;
  border: 3px solid #000000;
  color: #A5FFBE;
  outline: none;
  cursor: pointer;
  width: 6rem;
  height: 3rem;
}

.item {
  position: relative;
}

.link {
  position: relative;
}

.link {
  color: rgba(112, 121, 139, 1);
  font-size: 1rem;
  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: background-color, color;

  &:hover,
  &:focus {
    color: rgba(8, 20, 32, 1);
    font-weight: 700;
  }
}

.link svg {
  width: 1rem;
  color: #6E757C;;
  &:hover {
    color: rgba(var(--white), 0.6);
  }
}


