@use "../../../../helper/style/mixin";
@use "../../../../helper/style/media";

.component {}


.list {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  grid-column-gap: 2.25rem;

  margin: 0;
  padding: 0;
  list-style: none;
}

.videoButton {
  width: 10.6rem;
  background: #FFB800;
  box-shadow: -15px 20px 50px rgba(255, 184, 0, 0.3);
  color: #6001D3;
  outline: none;
  cursor: pointer;
  border: none;
}

.item {
  position: relative;
}

.link {
  position: relative;
}

.link {
  color: rgba(112, 121, 139, 1);
  font-size: 1rem;
  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: background-color, color;

  &:hover,
  &:focus {
    color: rgba(8, 20, 32, 1);
    font-weight: 700;
  }
}

.link svg {
  width: 1rem;
  color: #ffffff;
  &:hover {
    color: rgba(var(--white), 0.6);
  }
}


