@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  position: absolute;

  width: 100%;
  &::after {
    position: absolute;
    top: var(--header-height);
    left: 0;
    right: 0;
    z-index: 10;
    content: "";
    display: var(--underline);
    height: 1px;
  }
}

.wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--header-height);
  padding: 0 var(--gutters);
  box-sizing: border-box;
  @include mixin.until(media.$sm) {
    height: 7.8rem;
    padding: 0 2rem;
  }
}

.logo {
  width: 6.5rem;
  color: rgba(var(--white), 1);
  @include mixin.until(media.$sm) {
    width: 20rem;
  }
}

.link {
  color: rgba(var(--white), 1);
  margin-right: 3rem;
  &:hover {
    opacity: 0.8;
  }
  @include mixin.until(media.$sm) {
    display: none;
  }
}

.navlink {
  font-size: 1.2rem;
  font-family: Inconsolata-VariableFont_wdth;
  color: rgba(var(--white), 1);
  margin-right: 3rem;
  &:hover {
    opacity: 0.8;
  }
  @include mixin.until(media.$sm) {
    display: none!important;
  }
}


.logo svg {
  width: 100%;
  height: auto;
  @include mixin.until(media.$sm) {
    width: 11rem;
    height: fit-content;
  }
}

.navigation {
  margin-right: auto;
  border-left: 1px solid #ABAFC7;
  margin-left: 1.8rem;
  padding-left: 1.8rem;
}

.launch {
  margin-left: 2.25rem;

  @include mixin.until(media.$sm) {
    display: none;
  }
}

.socials {
  @include mixin.until(media.$sm) {
    display: none;
  }
}

.toggle {
  position: relative;

  padding: 0;
  margin: 0;
  margin-left: auto;

  color: rgba(var(--white), 1);

  border: 0;

  background-color: transparent;

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: color;

  @include mixin.from(media.$sm) {
    display: none;
  }

  &:hover,
  &:focus {
    color: rgba(var(--pink), 1);
  }
}

.toggle span {
  @include mixin.visuallyHidden();
}

.dropdown {
  position: absolute;
  z-index: 5;

  width: 100%;

  transform: translateY(-100%);
  pointer-events: none;
  visibility: hidden;

  transition-timing-function: linear;
  transition-duration: 350ms;
  transition-property: transform;

  @include mixin.from(media.$lg) {
    display: none;
  }
}

.animation {
  transform: translateY(0);
}

.visible {
  pointer-events: all;
  visibility: visible;
}
